<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ user.name }}'s Watchlist</title>
    <link rel="stylesheet" href="{{url_for('static',filename = 'style.css')}}" type="text/css">
</head>
<body>
    <h2>
        <img alt="Avatar" class="avatar" src="{{ url_for('static',filename = 'images/avatar.png')}}">
        {{ user.name }}'s Watchlist
    </h2>
    <p>{{movies|length}}Titles</p>
    <ul class="movie-list">
        {% for movie in movies %}
        <li>{{movie.title}}-{{movie.year}}</li>
        {% endfor %}
    </ul>
    <img alt="Totoro" class="totoro" src="{{ url_for('static',filename = 'images/totoro.gif')}}">
    <footer>
        <small>&copy; 2018 <a href="https://palletsprojects.com/p/flask/">Flask官网</a></small>
    </footer>
</body>
</html>